body {
    margin: 0;
    max-width: 100vw;   
    flex: 1;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1.5%;
    background-color: black;
}

ul, li {
    margin: 0;
    padding: 0;
    display: inherit;
    gap: 5px;
}

.logo, a, .about-me h1 {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 0;
    margin-top: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.about-me h1 {
    color: black;
    font-weight: bolder;
    font-size: 36px;
}

.about-me a {
    margin: 0;
}

.about-me img {
    display: inherit;
    border-width: 5px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    height: 300px;
    width: 300px;
}

.about-me p {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}